.jumbotron{
    padding-top: 6rem;
    background-color: #CECCFD;
}

#projects{
    background-color: #CECCFD;
}

nav{
    background-color: #6964fe;
}

section{
    padding-top: 5rem;
}

footer{
    margin: -7rem 0 0 0;
    background-color:#6964fe;
}

i{
    margin: 0 0.5rem;
}